body{
overflow: hidden;
background: #d7d7d7;
}
#tetris{
    width: 360px;
    border: 1px solid black;
    padding: 20px;
}
#canvas{
    width: 200px;
    height: 440px;
    background-color: #000;
    position: relative;
    color: #fff;
}
#canvas h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    padding-top: 200px;
}
.piece{
    border: 1px solid white;
    position: absolute;
}

#start{
    animation: blink.7s stps(2,start) infinite;
    background: #e1ff5f;
    border-radius: 2px;
    color: #202020;
    cursor: pointer;
    font-size: 28px;
}

@keyframes blink{
    to{
     outline: #e1ff5f solid 1px;
    }
}

.red{
    color: #f00000;
}

.square{
    position: absolute;
    width: 19px;
    height: 19px;
    border: 1px solid white;
}